{% extends 'base.twig' %}

{% block title %} {{ 'Find your teacher'|trans }} / {{ 'Add an offer'|trans }} {% endblock %}

{% block content %}
 <div class="page-header header">
        <h1> {{ 'Profile'|trans }} <small> {{ 'Change your password'|trans }} </small></h1>
    </div>
     <div class="line-separator"></div>
    <div class="panel panel-default dates">
        <form action="{{ path('password_edit', {'id': id }) }}" method="post" class="panel-body add-body">
            <div class="row">
                <div class="col-md-9">
                    <div class="form center-block">

                          <div class="form-group">
                            {{ form_label(form.password) }}
                            {{ form_errors(form.password) }}
                            {{ form_widget(form.password) }}
                        </div>

                    </div>
                </div>
            </div>
            <input type="submit" class="btn btn-block btn-primary message" name="submit" value="{{ 'Edit'|trans }}">
            {{form_rest(form)}}
        </form>
    </div>
{% endblock %}

