
{% extends 'base.twig' %}

{% block title %} {{ 'Find your teacher'|trans }} / {{ 'Add an offer'|trans }} {% endblock %}

{% block content %}
 <div class="page-header header">
        <h1> {{ 'My profile'|trans }} <small> {{ 'My data'|trans }} </small></h1>
    </div>
     <div class="line-separator"></div>
        <div class="panel panel-default contain">
        <div class="panel-heading title">{{ 'Update your'|trans }} {{ 'profile'|trans }} !</div>
        <div class="panel-body">
        <img style="display: block; margin: 0 auto" src="{{ app.request.basepath }}/assets/img/profile.png" alt="Smiley face" height="250" width="250">

            <div class="row">
                      <div class="col-md-8 col-md-offset-2">
        <form action="{{ path('users_edit', {'id': id }) }}" method="post" class="panel-body center-text">
  
                    <div class="form center-block">

                          <div class="form-group">
                            {{ form_label(form.name) }}
                            {{ form_errors(form.name) }}
                            {{ form_widget(form.name) }}
                        </div>

                          <div class="form-group">
                            {{ form_label(form.surname) }}
                            {{ form_errors(form.surname) }}
                            {{ form_widget(form.surname) }}
                        </div>

                            <div class="form-group">
                            {{ form_label(form.email) }}
                            {{ form_errors(form.email) }}
                            {{ form_widget(form.email) }}
                        </div>

                          <div class="form-group">
                            {{ form_label(form.phone_number) }}
                            {{ form_errors(form.phone_number) }}
                            {{ form_widget(form.phone_number) }}
                        </div>
                    </div>
                </div>
            <input type="submit" class="btn btn-block btn-primary message" name="submit" value="{{ 'Edit'|trans }}">

            {{form_rest(form)}}
            </div>
        </form>
    </div>
{% endblock %}

