{% extends 'base.twig' %}

{% block title %} {{ 'Find your teacher'|trans }} {% endblock %}

{% block content %}
{% for flashMessage in app.session.getFlashBag.get('message') %}
    <div class="alert alert-{{ flashMessage.type }}" role="alert">
        {{ flashMessage.content }}
    </div>
{% endfor %}
 <div class="page-header header">
        <h1> {{ 'My profile'|trans }} <small> {{ 'Change your password'|trans }} </small></h1>
    </div>
     <div class="line-separator"></div>
    <div class="panel panel-default contain">
        <form action="{{ path('password_edit', {'id': id }) }}" method="post" class="panel-body">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="form center-block">

                          <div class="form-group">
                            {{ form_label(form.old_password) }}
                            {{ form_errors(form.old_password) }}
                            {{ form_widget(form.old_password) }}
                        </div>

                         <div class="form-group">
                            {{ form_label(form.password) }}
                            {{ form_errors(form.password) }}
                            {{ form_widget(form.password) }}
                        </div>

                         <div class="form-group">
                            {{ form_label(form.password_repeated) }}
                            {{ form_errors(form.password_repeated) }}
                            {{ form_widget(form.password_repeated) }}
                        </div>
                    </div>
                </div>
            </div>
            <input type="submit" class="btn btn-block btn-primary message" name="submit" value="{{ 'Edit'|trans }}">
            {{form_rest(form)}}
        </form>
    </div>
{% endblock %}

