{% extends 'base.twig' %}

{% block title %}Baza Korepetycji - Logowanie{% endblock %}

{% block content %}
    <div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Dodaj Ogłoszenie !</h3>
        </div>
        <div class="panel-body">
    <form action="{{ path('posts_add') }}" method="post" class="form center-block">
        <div class="form-group">
            {{ form_errors(form.title) }}
            {{ form_label(form.title) }}
            {{ form_widget(form.title) }}
        </div>
        <div class="form-group">
            {{ form_errors(form.content) }}
            {{ form_label(form.content) }}
            {{ form_widget(form.content) }}
        </div>
        <div class="form-group">
            {{ form_errors(form.price) }}
            {{ form_label(form.price) }}
            {{ form_widget(form.price) }}
        </div>
        <button class="btn btn-primary">{{ 'dodaj' }}</button>
    </form>
</div>
      </div>
        </div>
{% endblock %}

