{# Add action template for Posts controller #}
{% extends 'base.twig' %}

{% block title %}{{  'Delete album'|trans }}{% endblock %}

{% block content %}
    <h1>
        {{ 'Delete album'|trans }}
    </h1>
    <h4>Are you sure?</h4>
    <form action="{{ path('posts_delete', {'id': id }) }}" method="post">
        <a href="{{ url('index') }}" class="btn btn-primary">{{ 'NO'|trans }}</a>
        <input class="btn btn-inverse" type="submit" name="submit" value="{{ 'YES'|trans }}" />
    </form>
{% endblock %}