{% extends 'base.twig' %}

{% block title %} {{ 'Find your teacher'|trans }} / {{ 'Add an offer'|trans }} {% endblock %}

{% block content %}
    <div class="page-header header">
        <h1> {{ 'Offers'|trans }} <small> {{ 'Add an offer'|trans }} </small></h1>
    </div>
    <div class="line-separator"></div>
    <div class="panel panel-default contain">
        <div class="panel-heading title">
            {{ 'Update your'|trans }} post!
        </div>
        <div class="panel-body">
            <div class="row">
                <form action="{{ path('posts_edit', {'id': id }) }}" method="post" class="panel-body add-post">
                    <div class="col-md-9">
                        <div class="form center-block">
                            <div class="form-group">
                                {{ form_errors(form.title) }}
                                {{ form_label(form.title) }}
                                {{ form_widget(form.title) }}
                            </div>
                            <div class="form-group">
                                {{ form_errors(form.content) }}
                                {{ form_label(form.content) }}
                                {{ form_widget(form.content) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form center-block">
                            <div class="form-group">
                                {{ form_label(form.category_id) }}
                                {{ form_errors(form.category_id) }}
                                {{ form_widget(form.category_id) }}
                            </div>
                            <div class="form-group">
                                {{ form_label(form.city_id) }}
                                {{ form_errors(form.city_id) }}
                                {{ form_widget(form.city_id) }}
                            </div>
                            <div class="form-group">
                                 {{ form_errors(form.price) }}
                                 {{ form_label(form.price) }}
                                 {{ form_widget(form.price) }}
                            </div>
                        </div>
                    </div>
                    <input type="submit" class="btn btn-block btn-primary message" name="submit" value="{{ 'Edit'|trans }}">
                    {{ form_rest(form) }}
                </form>
            </div>
        </div>
    </div>
{% endblock %}

