{% extends 'base.twig' %}

{% block title %} {{ 'Find your teacher'|trans }} / {{ 'Add an offer'|trans }} {% endblock %}

{% block content %}
 <div class="page-header header">
        <h1> {{ 'Offers'|trans }} <small> {{ 'Add an offer'|trans }} </small></h1>
    </div>
     <div class="line-separator"></div>
    <div class="panel panel-default dates">
        <form action="{{ path('posts_add') }}" method="post" class="panel-body add-body">
            <div class="row">
                <div class="col-md-9">
                    <div class="form center-block">
                        <div class="form-group">
                             {{ form_errors(form.title) }}
                             {{ form_label(form.title) }}
                             {{ form_widget(form.title) }}
                        </div>

                        <div class="form-group">
                             {{ form_errors(form.content) }}
                             {{ form_label(form.content) }}
                             {{ form_widget(form.content) }}
                        </div>

                        <div class="form-group">
                             {{ form_errors(form.price) }}
                             {{ form_label(form.price) }}
                             {{ form_widget(form.price) }}
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form center-block">
                        <div class="form-group">
                            {{ form_label(form.category_id) }}
                            {{ form_errors(form.category_id) }}
                            {{ form_widget(form.category_id) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.city_id) }}
                            {{ form_errors(form.city_id) }}
                            {{ form_widget(form.city_id) }}
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn btn-primary">{{ 'Add an offer'|trans }}</button>
            {{ form_rest(form) }}
        </form>
    </div>
{% endblock %}

