{% extends 'base.twig' %}

{% block title %} {{ 'Find your teacher'|trans }} {% endblock %}

{% block filter %}
    {% for flashMessage in app.session.getFlashBag.get('message') %}
        <div class="alert alert-{{ flashMessage.type }}" role="alert">
            {{ flashMessage.content }}
        </div>
    {% endfor %}

    <div class="page-header header index">
        <h1> {{ 'Offers'|trans }} <small> {{ 'Filter and view offers'|trans }} </small></h1>
    </div>
    <div class="line-separator"></div>
    
    <div class="panel panel-default filters">
        <div class="panel-body filters">
            <form action="{{ path('index') }}" method="post" class="form center-block">
                <div class="col-md-2 col-md-offset-1">
                    <div class="form-group">
                        {{ form_errors(form.category_id) }}
                        {{ form_label(form.category_id) }}
                        {{ form_widget(form.category_id) }}
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        {{ form_errors(form.city_id) }}
                        {{ form_label(form.city_id) }}
                        {{ form_widget(form.city_id) }}
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        {{ form_errors(form.sex) }}
                        {{ form_label(form.sex) }}
                        {{ form_widget(form.sex) }}
                    </div>
                </div>
                <div class="col-md-2">
                     <div class="form-group">
                        {{ form_errors(form.price) }}
                        {{ form_label(form.price) }}
                        {{ form_widget(form.price) }}
                    </div>
                </div>
                <div class="col-md-2">
                    <input type="submit" class="btn btn-block btn-primary message" name="submit" value="{{ 'Filter'|trans }}">
                </div>
                {{ form_rest(form) }}
            </form>
        </div>
    </div>
{% endblock %}

{% block content %}
    {% if posts|length > 0 %} 
    <a href="{{ url('index') }}" class="btn btn-block btn-primary message">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        {{ 'Clear all filters'|trans }} 
   </a> 
    {% for row in posts %}
        <div class="panel panel-default">
            <div class="panel-body offers">
				<div class="row panels">
					<div class="col-md-7">
						<div class="jumbotron offers">
							<p><b>{{ row.title }}</b></p>
							<p> {{ row.content }}</p>
						</div>
					</div>
					<div class="col-md-3">
						<div class="jumbotron offers">
							<p><b >{{ 'Added by'|trans }} {{ row.author }}</b></p>
							<p> {{ 'Category'|trans }} {{ row.category }}</p>
							<p> {{ 'City'|trans }} {{ row.city }}</p>
						</div>
					</div>
					<div class="col-md-2">
						<div class="jumbotron offers">
							<p class="price">{{ row.price }} zł</p>
						</div>
					</div>
				</div>
				<div class="panel-footer footer">
					<a href="{{ url('posts_view', {'id': row.id})}}" class="btn btn-primary btn-lg" type="button">{{ 'Learn more'|trans }}</a>
				</div>
			</div>
		</div>
    {% endfor %}
    {% else %}
        <div class="alert alert-info">
           {{ 'There are no offers meeting conditions'|trans }}
        </div>
    {% endif %}
{% endblock %}

{% block others %}
{% endblock %}
