{% extends 'base.twig' %}

{% block title %} {{ 'Find your teacher'|trans }} {% endblock %}

{% block filter %}

<div class="panel panel-default contain">
    <div class="panel-body">
    <form action="{{ path('index') }}" method="post" class="form center-block parts">
        <div class="form-group">
            {{ form_errors(form.category_id) }}
            {{ form_label(form.category_id) }}
            {{ form_widget(form.category_id) }}
        </div>

        <div class="form-group">
            {{ form_errors(form.city_id) }}
            {{ form_label(form.city_id) }}
            {{ form_widget(form.city_id) }}
        </div>

        <div class="form-group">
            {{ form_errors(form.sex) }}
            {{ form_label(form.sex) }}
            {{ form_widget(form.sex) }}
        </div>

         <div class="form-group">
            {{ form_errors(form.price) }}
            {{ form_label(form.price) }}
            {{ form_widget(form.price) }}
        </div>
        <input type="submit" class="btn btn-block btn-primary message" name="submit" value="{{ 'Register'|trans }}">
        {{ form_rest(form) }}
    </form>
        </div>
    </div>


{% endblock %}

{% block content %}
    {% for flashMessage in app.session.getFlashBag.get('message') %}
    <div class="alert alert-{{ flashMessage.type }}" role="alert">
        {{ flashMessage.content }}
    </div>
    {% endfor %}

 <div class="page-header header index">
        <h1> {{ 'Offers'|trans }} <small> {{ 'Filter and view offers'|trans }} </small></h1>
    </div>
     <div class="line-separator"></div>
     
	{% for row in posts %}
		<div class="panel panel-default">
			<div class="panel-body offers">
				<div class="row panels">
					<div class="col-md-7">
						<div class="jumbotron offers">
							<p><b>{{ row.title }}</b></p>
							<p> {{ row.content }}</p>
						</div>
					</div>
					<div class="col-md-3">
						<div class="jumbotron offers">
							<p><b >{{ 'Added by'|trans }} {{ row.login }}</b></p>
							<p> {{ 'Category'|trans }} {{ row.category }}</p>
							<p> {{ 'City'|trans }} {{ row.city }}</p>
						</div>
					</div>
					<div class="col-md-2">
						<div class="jumbotron offers">
							<p class="price">{{ row.price }} zł</p>
						</div>
					</div>
				</div>
				<div class="panel-footer footer">
					<a href="{{ url('posts_view', {'id': row.id})}}" class="btn btn-primary btn-lg" type="button">{{ 'Learn more'|trans }}</a>
				</div>
			</div>
		</div>
    {% endfor %}
{% endblock %}

{% block others %}
{% endblock %}
