{% extends 'base.twig' %}

{% block title %}Baza Korepetycji - Ogłoszenia{% endblock %}

{% block filter %}
	{#{% for row in posts %}
	<div class="list-group">
		<a href="#" class="list-group-item active">
			<h4 class="list-group-item-heading">{{ row.title }}</h4>
			<p class="list-group-item-text">
			<li> id: {{ row.id }} </li>
			<li> Artysta: {{ row.content }} </li>
			</p>
		</a>
	</div>
	{% endfor %}#}
	<!-- Split button -->

	<div class="btn-group filters">
		<button type="button" class="btn btn-danger filter"><i class="fa fa-graduation-cap"> Kategoria</i></button>
		<button type="button" class="btn btn-danger dropdown-toggle filter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<span class="caret"></span>
			<span class="sr-only">Toggle Dropdown</span>
		</button>

		<ul class="dropdown-menu">
            {% for row in categories %}
			<li><a class="dropdown" href="#">{{ row.category }}</a></li>
			<li role="separator" class="divider"></li>
            {% endfor %}
			</ul>

	</div>

	<div class="btn-group filter">
		<button type="button" class="btn btn-danger filter"><i class="fa fa-map-marker"> Województwo</i></button>
		<button type="button" class="btn btn-danger dropdown-toggle filter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<span class="caret"></span>
			<span class="sr-only">Toggle Dropdown</span>
		</button>
        <ul class="dropdown-menu">
            {% for row in states %}
                <li><a class="dropdown" href="#">{{ row.state }}</a></li>
                <li role="separator" class="divider"></li>
            {% endfor %}
        </ul>
	</div>

	<div class="btn-group filter">
		<button type="button" class="btn btn-danger filter"><i class="fa fa-map-signs"> Miejscowość</i></button>
		<button type="button" class="btn btn-danger dropdown-toggle filter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<span class="caret"></span>
			<span class="sr-only">Toggle Dropdown</span>
		</button>
		<ul class="dropdown-menu">
			<li><a href="#">Action</a></li>
			<li><a href="#">Another action</a></li>
			<li><a href="#">Something else here</a></li>
			<li role="separator" class="divider"></li>
			<li><a href="#">Separated link</a></li>
		</ul>
	</div>

    <div class="btn-group filter">
	    <button type="button" class="btn btn-danger filter"><i class="fa fa-venus-mars"> Płeć:</i>
		    <label class="checkbox-inline"><input class="checkbox" type="checkbox" value="">K</label>
		    <label class="checkbox-inline"><input class="checkbox" type="checkbox" value="">M</label>
    	</button>
    </div>

{% endblock %}

{% block content %}
	{% for row in posts %}
	<div class="jumbotron content">
		<h1 class="title">{{ row.title }}</h1>
		<p> {{ row.content }}</p>
		<p><a class="btn btn-primary btn-lg button" href="#" role="button">Learn more</a>
    </div>
	{% endfor %}

    {% for row in posts %}
        <div class="jumbotron content">
            <h1 class="title">{{ row.title }}</h1>
            <p> {{ row.content }}</p>
            <p><a class="btn btn-primary btn-lg button" href="#" role="button">Learn more</a>
        </div>
    {% endfor %}


    {% for row in posts %}
        <div class="jumbotron content">
            <h1 class="title">{{ row.title }}</h1>
            <p> {{ row.content }}</p>
            <p><a class="btn btn-primary btn-lg button" href="#" role="button">Learn more</a>
        </div>
    {% endfor %}
{% endblock %}

{% block contentright %}
    {% for row in posts %}
        <div class="jumbotron content">
            <h1 class="title">Dodane przez: {{ row.login }}</h1>
            <p> Kategoria: {{ row.category }}</p>
            <p> Województwo: {{ row.state }}</p>
            <p> Miejscowość: {{ row.city }}</p>
            <p> Cena: {{ row.price }}</p>
            <p><a class="btn btn-primary btn-lg button" href="#" role="button">Learn more</a>
        </div>
    {% endfor %}
{% endblock %}

{% block others %}
{% endblock %}
