{% extends 'base.twig' %}

{% block title %} {{ 'Find your teacher'|trans }} {% endblock %}

{% block filter %}
 <div class="page-header header index">
        <h1> {{ 'Offers'|trans }} <small> {{ 'Filter and view offers'|trans }} </small></h1>
    </div>
     <div class="line-separator"></div>

	<div class="btn-group filters" xmlns="http://www.w3.org/1999/html">
		<button type="button" class="btn btn-danger filter"><i class="fa fa-graduation-cap"> {{ 'Category'|trans }}</i></button>
		<button type="button" class="btn btn-danger dropdown-toggle filter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<span class="caret"></span>
			<span class="sr-only">Toggle Dropdown</span>
		</button>
		<ul class="dropdown-menu">
			{% for row in categories %}
				<li><a class="dropdown" href="#">{{ row.category }}</a></li>
				<li role="separator" class="divider"></li>
			{% endfor %}
		</ul>
	</div>
	<div class="btn-group filter">
		<button type="button" class="btn btn-danger filter"><i class="fa fa-map-signs"> {{ 'City'|trans }}</i></button>
		<button type="button" class="btn btn-danger dropdown-toggle filter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<span class="caret"></span>
			<span class="sr-only">Toggle Dropdown</span>
		</button>
		<ul class="dropdown-menu">
			{% for row in cities %}
				<li><a class="dropdown" href="#">{{ row.city }}</a></li>
				<li role="separator" class="divider"></li>
			{% endfor %}
		</ul>
	</div>

    <div class="btn-group filter">
	    <button type="button" class="btn btn-danger filter"><i class="fa fa-venus-mars"> {{ 'Sex'|trans}}</i>
		    <label class="checkbox-inline"><input class="checkbox" type="checkbox" value="">{{ 'F'|trans }}</label>
		    <label class="checkbox-inline"><input class="checkbox" type="checkbox" value="">{{ 'M'|trans }}</label>
    	</button>
    </div>

{% endblock %}

{% block content %}

{% for flashMessage in app.session.flashbag.get('error') %}

    {{ flashMessage }}

{% endfor %}
	{% for row in posts %}
		<div class="panel panel-default">
			<div class="panel-body offers">
				<div class="row panels">
					<div class="col-md-7">
						<div class="jumbotron offers">
							<p><b>{{ row.title }}</b></p>
							<p> {{ row.content }}</p>
						</div>
					</div>
					<div class="col-md-3">
						<div class="jumbotron offers">
							<p><b >{{ 'Added by'|trans }} {{ row.login }}</b></p>
							<p> {{ 'Category'|trans }} {{ row.category }}</p>
							<p> {{ 'City'|trans }} {{ row.city }}</p>
						</div>
					</div>
					<div class="col-md-2">
						<div class="jumbotron offers">
							<p class="price">{{ row.price }} zł</p>
						</div>
					</div>
				</div>
				<div class="panel-footer footer">
					<a href="{{ url('posts_view', {'id': row.id})}}" class="btn btn-primary btn-lg" type="button">{{ 'Learn more'|trans }}</a>
				</div>
			</div>
		</div>
    {% endfor %}
{% endblock %}

{% block others %}
{% endblock %}
